:root {
  --mc-primary-color:#F6F4F4;
  --mc-secondary-color: #3F3F3B;
  --mc-base-color: #297C8E;
  --mc-special-color1: #AFBA78;
  --mc-special-color2: #EA9571;

  --mc-margin-s:10px;
  --mc-margin-m:20px;
  --mc-margin-l:30px;
  --mc-margin-xl:40px;
  --mc-margin-xxl:50px;

  --mc-padding-s:10px;
  --mc-padding-m:20px;
  --mc-padding-l:30px;
  --mc-padding-xl:40px;
  --mc-padding-xxl:50px;

  --mc-gap-s:10px;
  --mc-gap-m:20px;
  --mc-gap-l:30px;
  --mc-gap-xl:40px;

  --mc-br:10px;
}

