@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

:root {
  --mc-primary-color:#F6F4F4;
  --mc-secondary-color: #3F3F3B;
  --mc-base-color: #297C8E;
  --mc-special-color1: #AFBA78;
  --mc-special-color2: #EA9571;

  --mc-margin-s:10px;
  --mc-margin-m:20px;
  --mc-margin-l:30px;
  --mc-margin-xl:40px;
  --mc-margin-xxl:50px;

  --mc-padding-s:10px;
  --mc-padding-m:20px;
  --mc-padding-l:30px;
  --mc-padding-xl:40px;
  --mc-padding-xxl:50px;

  --mc-gap-xs:5px;
  --mc-gap-s:10px;
  --mc-gap-m:20px;
  --mc-gap-l:30px;
  --mc-gap-xl:40px;

  --mc-br:5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
  background-color: var(--mc-primary-color);
  color: var(--mc-secondary-color);
}

header {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mc-base-color);
}

h1 {
  font-size: 3em;
  padding-left: var(--mc-padding-l);
  color: var(--mc-primary-color);
  background-color: var(--mc-base-color);
}

header > nav {
  width: 55%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: var(--mc-base-color);
  margin-right: var(--mc-margin-l);
}

header > nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mc-base-color);
}

a {
  font-size: 1.4em;
  font-weight: 400;
  background-color: var(--mc-base-color);
  color: var(--mc-primary-color);
  cursor: pointer;
}

a:hover {
  color: var(--mc-special-color1);
}


main {
  display: flex;
}

.filter {
  width: 20%;
}

.products {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  gap: var(--mc-gap-xl);
  margin: var(--mc-margin-xl);
}

.cardProduct {
  width: 280px;
  height: 370px;
  border-radius: var(--mc-br);
  box-shadow: 1px 0px 20px 3px rgba(63,63,59,0.25);
  transition: all .2s ease-in-out;
  position: relative;
}

.cardProduct:hover {
  transform: scale(1.1);
}

.imgProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: var(--mc-margin-s) auto;
  height: 65%;
  background-color: white;

}

.imgProduct > img {
  width: 100%;
  object-fit: contain;
 
}

.divCardContent {
  display: flex;
  justify-content: space-between;
  height: 90px;
  flex-direction: column;
  padding: 0 var(--mc-padding-s);
}

.divCardContent > p {
  color: var(--mc-special-color2);
  font-size: 1.5em;
  font-weight: 500;
}

.stars {
  display: flex;
  gap: var(--mc-gap-xs);
}

.star {
  width: 20px;
  height: 20px;
  background-color:#3f3f3b48;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.filled {
  background-color: var(--mc-special-color1);
}

button {
  border-radius: var(--mc-br);
  border: 2px solid var(--mc-base-color);
  color: var(--mc-base-color);
  font-size: 1em;
  width: 100px;
  height: 25px;
  background-color: var(--mc-primary-color);
  cursor: pointer;
  transition: all 0.1s;
}

.cardButton {
  position: absolute;
  bottom: 18px;
  right: 20px;
}

button:hover {
  transform: scale(1.1);
}

.filter {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: var(--mc-margin-l);
}

.filter > select, .filter > input {
  width: 100%;
  height: 35px;
  border-radius: var(--mc-br);
  font-weight: 500;
  margin: var(--mc-margin-s) 0;
}

.filter > select > option {
  font-weight: 500;
}

.search { 
  width: fit-content;
  padding: 0 var(--mc-padding-s);
  margin: var(--mc-margin-s) 0;
}

.clean {
  background-color: var(--mc-base-color);
  color: var(--mc-primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--mc-margin-xxl);
}

@media screen and (max-width: 750px) {
  header > nav {
    justify-content:end;
  }

  h1 {
    font-size: 2em;
    padding-left: var(--mc-padding-m);
  }

  header > nav > ul {
    display: none;
  }

  .menu {
    display: flex;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .filter {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 var(--mc-padding-m);
  }

  .products {
    width: 85%;
  }

}

@media screen and (min-width:751px) and (max-width: 1200px) {
  a {
    font-size: 1em;
  }
  h1 {
    font-size: 2em;
    padding-left: var(--mc-padding-m);
  }
  header > nav {
    margin-right: var(--mc-margin-m);
  }
  .filter {
    width: 30%;
  }
  
}